@import "compass/css3";
@import "lib/animations";
@import "lib/keyframes";
@import "lib/media";
@import "lib/ceaser-easing/ceaser";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&subset=latin,cyrillic-ext);
// gradients for ie
$experimental-support-for-svg: true;

// global sprites
$icons: sprite-map("icons/*.png", $spacing: 10px);

// responsive
$break-280: 260px; 
$break-320: 320px; 
$break-480: 480px; 
$break-640: 640px; 
$break-768: 768px; 
$break-800: 800px; 
$break-960: 960px; 
$break-1024: 1024px;
$break-1100: 1100px;
$break-1400: 1400px;
$break-1930: 1930px;
@mixin respond-to($media) {
  @if $media == 260 {
    @media only screen and (max-width: $break-280) { @content; }
  }
  @else if $media == 320 {
    @media only screen and (max-width: $break-320) { @content; }
  }
  @else if $media == 480 {
    @media only screen and (max-width: $break-480) { @content; }
  }
  @else if $media == 640 {
    @media only screen and (max-width: $break-640) { @content; }
  }
  @else if $media == 768 {
    @media only screen and (max-width: $break-768) { @content; }
  }
  @else if $media == 800 { 
    @media only screen and (max-width: $break-800) { @content; }
  }
  @else if $media == 960 {
    @media only screen and (max-width: $break-960) { @content; }
  }
  @else if $media == 1024 {
    @media only screen and (max-width: $break-1024) { @content; }
  }
  @else if $media == 1100 {
    @media only screen and (max-width: $break-1100) { @content; }
  }
  @else if $media == 1400 {
    @media only screen and (min-width: $break-1400) { @content; }
  }
  @else if $media > 1930 {
    @media only screen and (min-width: $break-1930) { @content; }
  }
}
// retina bg
@mixin retina{
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    @content;
  }
}

// BACKGROUND SIZE
@mixin background-size($width: 100%, $height: 100%) {
     -moz-background-size: $width $height;
  -webkit-background-size: $width $height;
          background-size: $width $height;
}
// ROTATE
@mixin rotate($deg: 0, $m11: 0, $m12: 0, $m21: 0, $m22: 0) {
     -moz-transform: rotate($deg + deg);
       -o-transform: rotate($deg + deg);
  -webkit-transform: rotate($deg + deg);
      -ms-transform: rotate($deg + deg);
          transform: rotate($deg + deg);
             // filter: progid:DXImageTransform.Microsoft.Matrix(
             //         M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand');
             //   zoom: 1;
}

// skew
@mixin skew($deg) {
     -moz-transform: skew($deg);
       -o-transform: skew($deg);
  -webkit-transform: skew($deg);
      -ms-transform: skew($deg);
          transform: skew($deg);
}

// box-sizing
@mixin box-sizing($var) {
     -moz-box-sizing: $var;
  -webkit-box-sizing: $var;
          box-sizing: $var;
}

// user-select
@mixin no-select {
     -moz-user-select: none;
  -webkit-user-select: none;
          user-select: none;
}

// image replacement extend
%hide-text{
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

@mixin clr{
  *zoom: 1;
  &:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }
}

// placeholder color
@mixin placeholder($color, $font-family) {
  &.placeholder {
    color: $color;
    font-family: $font-family;
  }
  &:-moz-placeholder {
    color: $color;
    font-family: $font-family;
  }
  &::-webkit-input-placeholder {
    color: $color;
    font-family: $font-family;
  }
}

@mixin gray(){
  filter: url(../img/filter.svg#grayscale);
  filter: gray;
  -o-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)";
}
%gray{
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
   -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)";
}
%gray-half{
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'0.5\'/></filter></svg>#grayscale"); /* Firefox 10+ */
  filter: gray alpha(opacity=50); /* IE6-9 */
  -webkit-filter: grayscale(50%); /* Chrome 19+ & Safari 6+ */
}
%gray-zero{
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
}

// sized sprites
@mixin image-size($path){
  width: image-width($path);
  height: image-height($path);
}
//for retina
@mixin image-sizer($path){
  width: image-width($path)/2;
  height: image-height($path)/2;
}

// @mixin sized-sprite($map, $sprite){
//   background: sprite($map, $sprite) no-repeat;
//   @include image-size(sprite-file($map, $sprite));
// }
//shortcut
@mixin s($sprite, $map: $icons){
  background: sprite($map, $sprite) no-repeat;
  @include image-size(sprite-file($map, $sprite));
}
//for retina
@mixin sized-spriter($map, $sprite){
  background: sprite($map, $sprite) no-repeat;
  $ypos: round(nth(sprite-position($map, $sprite), 2) / 2);
  background-position: 0 $ypos;
  @include image-sizer(sprite-file($map, $sprite));
  @include background-size(ceil(image-width(sprite-path($map)) / 2), ceil(image-height(sprite-path($map)) / 2));
}


// fonts
@mixin font {
    font-weight: 400;
    font-family: 'Open Sans', Arial, sans-serif;
}
@mixin font2 {
    font-family: Arial, sans-serif;
}
@mixin sb {
    font-weight: 600;
}
@mixin b {
    font-weight: 700;
}
@mixin eb {
    font-weight: 800;
}