@import "base";
/* ------------------------------------- Reset css -------------------------------------------- */
/* ------------------------------------- Reset css -------------------------------------------- */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5,
h6, p, blockquote, pre,a, abbr, acronym, address, big,
cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,
strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt,
dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary,time, mark, audio, video { 
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
body, html {
    height: 100%
}
img,fieldset {border:none;}
input[type="submit"], button {cursor:pointer;}
input[type='submit']::-moz-focus-inner{padding:0;border:0}
textarea {overflow: auto;}
input, button {
    margin: 0;
    padding: 0;
    border: 0;
}
input, textarea, select,button,
h1,h2,h3,h4,h5,h6,a,span,a:focus {
    outline: none;
}
ul,ol {
    list-style-type: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section { 
    display: block;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
// *{-webkit-text-size-adjust: none; }
/* ------------------------------------- //END Reset css --------------------------------------- */
/* ----------------------------------------- Main styles --------------------------------------- */
body{
    min-width: 280px;
    min-height: 735px;
    color: #575757;
    @include font;
    font-size: 13px;
    line-height: 1.4;
    ::selection {
        background: rgba(0,0,0,.1);
    }
    ::-moz-selection {
        background: rgba(0,0,0,.1);
    }
}
a{
    color:#00919e;
    text-decoration: none;
    // &:hover{
    //     text-decoration:none
    // }
}
.l-layout {
    margin: 0 auto -96px;
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    background: url(../img/layout-bg.jpg) 50% 0 repeat-y;
    @include respond-to(1024) {
        background-position: 0 0;
    }
}
.l-container {
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 5px;
    @include clr;
    @include respond-to(640) {
       // padding: 0 20px;
    }
}
.push {
    clear: both; 
    height: 96px;
}
.wrapper {
    overflow: hidden;
}
.wrap {
    @include clr;
}
.is-fixed {
    overflow: hidden;
    .l-layout {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
    }
    .footer {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1000;
    }
    .l-col-wrap {
        width: 1024px;
        position: absolute;
        top: 49px;
        bottom: 96px;
        left: 50%;
        margin-left: -512px;
        @include respond-to(1024) {
            left: 0;
            margin: 0;
            right: 0;
        }
    }
    .sidebar {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
    }
    .main-col {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: 257px;
    }
    .tab-cont {
        position: absolute;
        top: 52px;
        right: 0;
        bottom: 0;
        left: 0;
    }
    
    // .gift-sent-wrap {
    //     padding: 0 6.5% 0 3%;
    // }
    // .gift-want-wrap,
    // .gift-wrap {
    //     padding: 0 4% 0 3%;
    // }
}
/* ------------------------------------ //END Main styles --------------------------------------- */
 
/* ----------------------------------------- Header --------------------------------------------- */
.header {
    position: relative;
    z-index: 100;
    @include clr;
    height: 48px;  
    border-bottom: 1px solid #00662b;
    @include box-shadow(inset 0 -1px 0 #03a94c);
    background: #1d8542 url(../img/header-inner-bg.jpg) 0 0 repeat-x;
    .l-container {
        padding: 0;
    }
}
.logo {
    float: left;
    width: 257px;
    text-align: center;
    position: relative;
    height: 47px;
    line-height: 38px;
    border-right: 1px solid #50c073;
    @include box-shadow(inset -1px 0 0 #00662b);
    @include box-sizing(border-box);
    background: #176c3c url(../img/logo-bg.jpg) 0 0 repeat;
    @include respond-to(768) {
        //width: 195px;
    }
    &:before, &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 2px;
        background: url(../img/logo-border.png) 0 0 repeat;
    }
    &:before {
        left: 15px;
    }
    &:after {
        right: 15px;
    }
    a {
        display: inline-block;
        vertical-align: middle;
        @extend %hide-text;
        @include s(logo-small);
    }
}
.header__right {
    float: right;
    height: 47px;
    @include clr;
}
.header-user {
    width: 190px;
    line-height: 47px;
    padding: 0 5px 0 14px;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-left: 1px solid #50ba72;
    @include box-shadow(-1px 0 0 #00662b);
    @include box-sizing(border-box);
    @include respond-to(768) {
        width: 60px;
    }
    @include respond-to(640) {
        padding: 0;
    }
    .is-fb-user {
        &:before {
            @include s(fb-s);
        }
    }
    .is-vk-user {
        &:before {
            //@include s(vk-s);
        }
    }
}
.header-user__pic {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
    @include respond-to(640) {
        display: block;
        width: 60px;
        height: 47px;
    }
    span {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -12px 0 0 -10px;
        @include s(user-pic);
        @include respond-to(640) {
            display: block;
        }
        i {
            position: absolute;
            top: -11px;
            right: -9px;
            width: 17px;
            height: 17px;
            text-align: center;
            line-height: 17px;
            color: #fff;
            background: #f00;
            font: bold 11px Arial, sans-serif;
            @include border-radius(50%);
            border: 2px solid #06b838;
        }
    }
    &:before {
        content: "";
        position: absolute;  
        bottom: -4px;
        right: -8px;
        @include respond-to(640) {
           display: none;
        }
    }
    i {
        position: absolute;
    }
    img {
        display: block;
        border: 1px solid rgba(0,102,43,.2);
        @include box-shadow(0 1px 0 rgba(255,255,255,.25));
        @include respond-to(640) {
            display: none;
        }
    }
}
.header-user__link {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 12px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.45);
    @include respond-to(640) {
        display: none;
    }
}

.header-gift {
    float: left;
    width: 61px;
    height: 32px;
    line-height: 32px;
    margin-top: 8px;
    text-align: center;
    border-left: 1px solid #00662b;
    @include box-shadow(inset 1px 0 0 #4eb672);
    @include respond-to(640) {
        display: none;
    }
}

.header-nav {
    position: relative;
    float: left;
    height: 49px;
    @include respond-to(640) {
        display: none;
    }
}
.header-nav.is-active {
    background: #fefefd;
    .header-nav__button {
        height: 41px;
        background: #fefefd;
        border-left: 1px solid transparent;
        @include box-shadow(none);
        i {
            @include s(menu-arr-act);
            margin: -7px 0 0 -5px;
        }
    }
}
.header-nav__button {
    position: relative;
    z-index: 2;
    width: 48px;
    height: 32px;
    line-height: 32px;
    margin-top: 8px;
    text-align: center;
    background: none;
    border-left: 1px solid #00662b;
    @include box-shadow(inset 1px 0 0 #4eb672);
    i {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -3px 0 0 -5px;
        @include s(menu-arr); 
    }
}
.header-nav__list {
    display: none;
    position: absolute;
    right: 0;
    top: 49px;
    line-height: 1.2;
    width: 175px;
    background: #fefefd;
    border-left: 1px solid #c9c9c9;
    @include box-shadow(0 0 13px rgba(0,0,0,.23));
    a {
        display: block;
        padding: 0 5px 0 18px;
        height: 38px;
        line-height: 38px;
        font-size: 12px;
        color: #353535;
        font-family: Arial, sans-serif;
        border-bottom: 1px solid #c9c9c9;
    }
}

.video-wrap {
    float: right;
    width: 50%;
    @include box-sizing(border-box);
    @include respond-to(640) {
        float: none;
        width: 100%;
    }
}
.video {
    position: relative;
    width: 87.5%;
    overflow: hidden;
    border: 6px solid rgba(13,112,52,.5);
    @include box-shadow(0 1px 0 rgba(255,255,255,.75), inset 0 0 16px rgba(0,0,0,.76));
    @include respond-to(640) {
        width: 90%;
        margin: 0 auto 26px;
    }
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}
.video__play {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -38px 0 0 -38px;
    width: 76px;
    height: 76px;
    border: 1px solid #00ae2c;
    @include border-radius(50%);
    background: #00bc30;
    @include box-shadow(inset 0 0 0 2px #86f4a2);
    @include background-image(linear-gradient(bottom, #00bc30 0%, #00d637 100%));
    &:hover {
        background: #00d637;
        @include background-image(linear-gradient(bottom, #00d637 0%, #00bc30 100%));
    }
    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -15px 0 0 -8px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 15px 0 15px 23px;
        border-color: transparent transparent transparent #ffffff;
    }
}
/* -------------------------------------- //END Header ------------------------------------------ */

/* ------------------------------------- Independent blocks -------------------------------------- */
.login {
    float: left;
    width: 50%;
    color: #e8e5de;
    font-size: 18px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.45);
    @include respond-to(768) {
        font-size: 14px;
    }
    @include respond-to(640) {
        float: none;
        width: 90%;
        margin: 0 auto;
        font-size: 12px;
    }
}
.login__title {
    margin-bottom: 14px;
    @include sb;
    font-size: 25px;
    text-transform: uppercase;
    @include respond-to(768) {
        font-size: 20px;
    }
    @include respond-to(640) {
        font-size: 16px;
    }
    strong {
        @include eb;
        font-size: 29px;
        @include respond-to(768) {
            font-size: 24px;
        }
        @include respond-to(640) {
            font-size: 16px;
        }
    }
}
.login__list {
    margin-bottom: 10%;
    @include respond-to(640) {
        margin-bottom: 5%;
    }
    li {
        position: relative;
        padding-left: 12px;
        &:before {
            content: "-";
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

.enter-soc {
    @include clr;
    a {
        position: relative;
        margin-left: 15px;
        float: left;
        width: 165px;
        height: 42px;
        line-height: 37px;
        border: 1px solid #103883;
        @include border-radius(17px);
        background: #375999;
        font-size: 18px;
        color: #fff;
        @include clr;
        @include box-sizing(border-box);
        padding-right: 24px;
        text-decoration: none;  
        text-align: right;
        @include box-shadow(inset 0 1px 0 rgba(255,255,255,.58));
        @include background-image(linear-gradient(bottom, #375999 0%, #5081ef 100%));
        &:first-child {
            margin-left: 0;
            @include respond-to(640) {
                margin: 0 auto 10px;
            }
        }
        &:hover {
            background: #5081ef;
            @include background-image(linear-gradient(bottom, #5081ef 0%, #375999 100%));
        }
        @include respond-to(768) {
            float: none;
            display: block;
            margin: 0 0 10px 0;
        }
        @include respond-to(640) {
            margin: 0 auto;
        }
    }
    span {
        float: left;
        width: 62px;
        height: 40px;
        border-right: 1px solid #2b5aa4;
        @include box-shadow(1px 0 0 rgba(175,198,221,.5));
        text-align: center;
    }
    i {
        display: inline-block;
        vertical-align: middle;
    }
}
.enter-soc__vk {
    i {
        @include s(vk);
    }
}
.enter-soc__fb {
    i {
        @include s(fb);
    }
}
.icon {
    display: inline-block;
}
.icon_cake {@include s(cake);}
.icon_string {@include s(string);}
.icon_mob {@include s(mob);}
.icon_gift {@include s(gift);}
.icon_cake2 {@include s(cake2);}
.icon_friend {@include s(fr);}
.icon_case {@include s(case);}
.icon_boot {@include s(boot);}
.icon_gift2 {@include s(gift2);}
.icon_tab1 {@include s(tab1);}
.icon_tab2 {@include s(tab2);}
.icon_tab3 {@include s(tab3);}
.icon_tab4 {@include s(tab4);}
.icon_tab5 {@include s(tab5);}
.icon_tab6 {@include s(tab6);}
.main-col {
    overflow: hidden;
    background: #f7f3e3 url(../img/main-bg.jpg) 0 0 repeat;
    @include respond-to(768) {
        .scroller {
            width: 100% !important
        }
    }
    .container {
        padding: 3% 3.2%; 
    }
}
.main-col_profile {
    .container {
        padding: 3% 0; 
    }
    .gift-want-cont {
        padding: 0 3.2%; 
    }
}
.btn {
    display: inline-block;
    padding: 7px 12px;
    @include border-radius(4px);
    text-transform: uppercase;
    font: bold 10px Arial, sans-serif;
    @include box-sizing(border-box);
}
.btn_m {
    padding: 7px 24px;
    font-size: 12px;
}
.btn_big {
    font-size: 14px;
    padding: 12px 30px;
}
.btn_gray {
    background: #e3e0dd;
    border: 1px solid #a3a3a3;
    color: #515151;
    @include text-shadow(0 1px 0 rgba(255,255,255,.75));
    @include box-shadow(inset 0 0 0 1px rgba(255,255,255,.95));
    @include background-image(linear-gradient(bottom, #e3e0dd 0%, #f8efef 88.31%, #f8efef 100%));
    &:hover {
        @include background-image(linear-gradient(bottom, #f8efef 0%, #f8efef 88.31%, #e3e0dd 100%));
    }
    &:active {
        background: #e3e0dd;
        @include box-shadow(inset 0 2px 4px 0 rgba(0,0,0,.2));
    }
}
.btn_green {
    border: 1px solid #00662a;
    background: #00a72b;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.4);
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,.58));
    @include background-image(linear-gradient(bottom, #00a72b 0%, #00d637 100%));
    &:hover {
        background: #00d637;
    }
    &:active {
        background: #00d637;
        @include box-shadow(inset 0 2px 4px 0 rgba(0,0,0,.2));
    }
}
.btn_yellow {
    border: 1px solid #d37c00;
    background: #ff9f17;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.4);
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,.58));
    @include background-image(linear-gradient(bottom, #ff9f17 0%, #ead200 100%));
    &:hover {
        background: #ff9f17;
    }
    &:active {
        background: #ff9f17;
        @include box-shadow(inset 0 2px 4px 0 rgba(0,0,0,.2));
    }
}
.close {
    position: absolute;
    width: 23px;
    height: 23px;
    @include border-radius(4px);
    background: #d3cbcb;
    &:hover {
        background: #b8b2b2;
    }
    i {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -5px 0 0 -4px;
        @include s(close2);
    }
}

.close_banner {
    right: 10px;
    top: 7px;
    z-index: 2;
    background: #f2f1f1;
    background: rgba(242,241,241,.45);
    @include transition(all 200ms linear);
    &:hover {
        background: rgba(242,241,241,1);
    }
    i {
        @include s(close);
    }
}

.input-wrap {
    margin-bottom: 9px;
}
.input {
    display: block;
    padding: 5px 17px 6px;
    width: 100%;
    @include box-sizing(border-box);
    font: 18px normal 'Open Sans', Arial, sans-serif;
    @include placeholder(#ccc, 'Open Sans');
    border: 1px solid rgba(129,129,129,.45);
    @include border-radius(4px);
    background: #fff;
    @include transition(all 200ms linear);
    @include box-shadow(inset 0 0 4px rgba(103,103,103,.3));
    &:focus {
        @include box-shadow(none);
    }
}
.input_s {
    padding: 5px;
}
.textarea {
    resize: none;
    height: 145px;
    max-height: 145px;
}
.select {
    position: relative;
    z-index: 1000;
    //width: 157px;
    height: 43px;
    .is-active {
        @include border-radius(4px 4px 0 0);
        border-bottom: 1px solid transparent;
        &:after {
            @include s(arr-select-act);
        }
    }
}
.select__val {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 30px 0 15px;
    border: 1px solid #c8c8c8;
    line-height: 41px;
    @include border-radius(4px);
    background: #e3e0dd;
    font-size: 17px;
    color: #000;
    @include box-sizing(border-box);
    @include box-shadow(inset 0 0 0 1px rgba(255,255,255,.95));
    @include background-image(linear-gradient(#fbf5f5, #eeedeb));
    cursor: pointer;
    @include no-select;
    &:after {
        content: "";
        position: absolute;
        right: 17px;
        top: 50%;
        margin-top: -2px;
        @include s(arr-select);
    }
    strong {
        @include b;
        font-size: 21px;
    }
    
}
.select__list {
    display: none;
    position: absolute;
    top: 43px;
    left: 0;
    right: 0;
    background: #e3e0dd;
    border: 1px solid #c8c8c8;
    border-top: 0;
    font-size: 17px;
    color: #000;
    @include border-radius(0 0 4px 4px);
    @include background-image(linear-gradient(#fbf5f5, #eeedeb));
    strong {
        @include b;
        font-size: 21px;
    }
    li {
        border-top: 1px solid #c8c8c8;
        padding: 5px 30px 5px 15px;
        cursor: pointer;
        &:first-child {
            border-top: 0;
        }
    }
}

.clip {
    position: absolute;
    &:after,
    &:before {
        content: "";
        position: relative;
        z-index: 2;
        display: block;
        width: 10px;
        height: 25px;
        @include box-sizing(border-box);
        border: 2px solid #edb741;
    }
    &:after {
        border-top: 0;
        @include border-radius(0 0 5px 5px);
    }
    &:before {
        margin-bottom: -1px;  
        border-left: 0;
        border-bottom: 0;
        @include border-radius(5px 5px 0 0);
    }
    i {
        position: absolute;
        top: 2px;
        left: 1px;
        &:after,
        &:before {
            content: "";
            display: block;
            width: 10px;
            height: 25px;
            @include box-sizing(border-box);
            border: 2px solid #78706a;
            @include opacity(.5);
        }
        &:after {
            border-top: 0;
            box-shadow: 0 1px 1px rgba(0,0,0,.8);
            @include border-radius(0 0 5px 5px);
        }
        &:before {
            margin-bottom: -1px;
            border-left: 0;
            border-top: #000;
            border-bottom: 0;
            @include border-radius(5px 5px 0 0);
        }
    }
}

.checkbox {
    display: block;
}
.checkbox__wrap {
    display: inline-block;
    position: relative;
    width: 19px;
    height: 19px;
    @include box-sizing(border-box);
    vertical-align: middle;
    input, i {
        position: absolute;
        left: 0;
        top: 0;
        width: 19px;
        height: 19px;
    }
    input {
        z-index: 2;
        @include opacity(0);
    }
    i {
        width: 19px;
        height: 19px;
        @include box-sizing(border-box);
        border: 1px solid #bcbab8;
        @include border-radius(2px);
        background: #fff;
        @include box-shadow(inset 0 0 4px rgba(103,103,103,.3));
    }
    span {
        vertical-align: middle;
    }
}

/* ---------------------------------- //END Independent blocks ----------------------------------- */

/* ----------------------------------------- Footer ---------------------------------------------- */
.footer {
    position: relative;
    padding: 17px 0;
    height: 96px;
    overflow: hidden;
    border-top: 1px solid #00662b;
    @include box-sizing(border-box);
    background: #3c3c3c url(../img/footer-bg.jpg) 0 0 repeat;
    color: #b8b8b8;
    font-size: 11px;
    @include respond-to(640) {
        height: 137px;
    }
    .l-container {
        position: relative;
        @include respond-to(640) {
            position: static;
        }
    }
}
.footer__logo {
    float: left;
    margin: 22px 4.5% 0 5.5%;
    @include s(logo-dark);
    @include respond-to(640) {
        position: absolute;
        top: 31px;
        left: 50%;
        margin: 0 0 0 -57px;
    }
}
.footer__middle {
    float: left;
    padding: 10px 0;
    padding-left: 4.5%;
    border-left: 1px solid #656565;
    @include respond-to(640) {
        padding: 5px 0;
        float: none;
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
        border: 0;
    }
}
.footer__nav {
    margin-bottom: 10px;
    a {
        display: inline-block;
        margin-right: 20px;
        color: #fff;
        font-size: 12px;
        &:hover {
            text-decoration: underline;
        }
        &:nth-child(2) {
            @include respond-to(480) {
                position: absolute;
                bottom: -66px;
                left: 50%;
                margin-left: -87px;
            }
        }
    }
}
.footer__contacts {
    @include respond-to(640) {
        position: absolute;
        bottom: -42px;
        left: 0;
        width: 100%;
    }
}
.copyright {
    position: absolute;
    bottom: 0;
    right: 4%; 
    @include respond-to(640) {
        bottom: 5px;
        left: 0;
        width: 100%;
        text-align: center;
    } 
}
/* -------------------------------------- //END Footer ------------------------------------------- */