@import "base";
.tab {
    height: 51px;
    line-height: 51px;
    border: 1px solid #adadad;
    border-left: 0;
    border-top: 0;
    background: #efebe7;
    @include box-sizing(border-box);
    @include box-shadow(inset 0 0 0 1px rgba(255,255,255,.95));
    @include background-image(linear-gradient(bottom, #efebe7 0%, #f8efef 88.31%, #f8efef 100%));
    li {
        float: left;
        margin-left: -1px;
        padding: 0 3%;
        height: 50px;
        cursor: pointer;
        font: bold 11px/50px Arial, sans-serif;
        text-transform: uppercase;
        border: 1px solid #adadad;
        border-top: 0;
        border-bottom:0;
        @include box-shadow(inset 0 0 0 1px rgba(255,255,255,.95));
        text-shadow: 0 1px 0 rgba(255,255,255,.75);
        &:hover {
            background: #f8efef;
        }
        &:active {
            background: #f8efef;
            @include box-shadow(inset 0 2px 4px 0 rgba(0,0,0,.2));
        }
    }
    .is-active {
        color: #fff;
        cursor: default;
        @include box-shadow(inset 0 0 10px rgba(53,53,53,.5));
        background-color: #a29e9e;
        @include background-image(linear-gradient(45deg, #b1adac 25%, transparent 25%, transparent 75%, #b1adac 75%, #b1adac), 
        linear-gradient(45deg, #b1adac 25%, transparent 25%, transparent 75%, #b1adac 75%, #b1adac));
        background-size: 2px 2px;
        background-position:0 0, 1px 1px;
        &:hover {
            @include box-shadow(inset 0 0 10px rgba(53,53,53,.5));
            background-color: #a29e9e;
            @include background-image(linear-gradient(45deg, #b1adac 25%, transparent 25%, transparent 75%, #b1adac 75%, #b1adac), 
            linear-gradient(45deg, #b1adac 25%, transparent 25%, transparent 75%, #b1adac 75%, #b1adac));
            background-size: 2px 2px;
            background-position: 0 0, 1px 1px;
        }
    }
    .is-new {
        i {
            display: block;
        }
    }
    span {
        position: relative;
    }
    i {
        display: none;
        position: absolute;
        top: -17px;
        right: -20px;
        width: 17px;
        color: #fff;
        height: 17px;
        font: bold 11px/17px Arial, sans-serif;
        text-align: center;
        line-height: 17px;
        border: 2px solid #f1ebe9;
        @include border-radius(50%);
        background: #ff3434;
        font-style: normal;
    }
}
.tab_nav {
    li {
        width: 63px;
        padding: 0;
        text-align: center;
        @include box-sizing(border-box);
        .icon {
            display: inline-block;
            vertical-align: middle;
        }
        span {
            display: none;
            margin: 0;
        }
        &:first-child {
            span {
                display: inline-block;
            }
        }
    }
    .is-active {
        width: auto;
        padding: 0 2%;
        background-color: #d68d00;
        @include background-image(linear-gradient(45deg, #ec9c00 25%, transparent 25%, transparent 75%, #ec9c00 75%, #ec9c00), 
        linear-gradient(45deg, #ec9c00 25%, transparent 25%, transparent 75%, #ec9c00 75%, #ec9c00));
        background-size: 2px 2px;
        background-position:0 0, 1px 1px;
        &:hover {
            background-color: #d68d00;
            @include background-image(linear-gradient(45deg, #ec9c00 25%, transparent 25%, transparent 75%, #ec9c00 75%, #ec9c00), 
            linear-gradient(45deg, #ec9c00 25%, transparent 25%, transparent 75%, #ec9c00 75%, #ec9c00));
            background-size: 2px 2px;
            background-position:0 0, 1px 1px;
        }
        span {
            display: inline-block;
            line-height: 1;
            margin-left: 5px;
        }
        .icon_tab1 {@include s(tab1-act);}
        .icon_tab2 {@include s(tab2-act);}
        .icon_tab3 {@include s(tab3-act);}
        .icon_tab4 {@include s(tab4-act);}
        .icon_tab5 {@include s(tab5-act);}
        .icon_tab6 {@include s(tab6-act);}
    }
}
.tab-cont {
    display: none;
    padding: 3% 3.2% 3%;
}
.tab-cont__title {
    margin-bottom: 21px;
    color: #d37c00;
    font-size: 19px;
    text-shadow: 0 1px 0 #fff;
}
.gift-want-wrap {
    @include clr;
}
.gift-want-wrap {
    margin-bottom: 17px;
    border-bottom: 1px solid #cdc59d;
    @include box-shadow(0 1px 0 rgba(255,255,255,.5));
}
.gift-want {
    float: left;
    position: relative;
    margin: 0 3.1% 2.6% 0;
    padding: 20px 0 8px;
    width: 46.5%;
    height: 156px;
    @include box-sizing(border-box);
    border: 1px solid #ffae00;
    @include border-radius(5px);
    background: #e6e0db;
    @include box-shadow(0 0 7px rgba(0,0,0,.39), inset 0 0 0 2px rgba(255,255,255,.75));
    @include background-image(linear-gradient(bottom, #e6e0db 0%, #fff 88.31%, #fff 100%));
    @include respond-to(960) {
        width: 100%;
        float: none;
        margin: 0 0 20px;
    }
    .clip {
        left: 15px;
        top: -6px;
        z-index: 2;
        @include rotate(-10);
    }
    
}
.gift-want.is-favorite {
    padding: 28px 0 8px;
    &:before {
        content: "";
        position: absolute;
        top: -1px;
        left: 125px;
        @include s(favorite);
    }
}
.gift-want.is-free {
    .gift-want__price-2 {
        color: #00a82b;
    }
}
.icon_corner {
    position: absolute;
    top: 1px;
    right: 1px;
}
.gift-want__descr {
    margin-left: 126px;
    height: 75px;
    overflow: hidden;
    font-size: 11px;
    padding-right: 10px;
    line-height: 1.2;
}
.gift-want__img {
    position: absolute;
    top: 6px;
    left: 10px;
    @include rotate(-10);
    img {
        border: 4px solid #fff;
        @include border-radius(2px);
        @include box-shadow(0 0 0 1px rgba(0,0,0,.25));
    }
}
.gift-want__footer {
    position: absolute;
    bottom: 13px;
    left: 0;
    right: 0;
    padding: 0 3% 0 5%;
    @include clr;
    .link-favorite {
        float: right;
        margin-top: 8px;
    }
    .btn {
        float: right;
    } 
}
.gift-want__price {
    display: inline-block;
    margin-right: 4%;
    font-size: 17px;
    color: #000;
    b {
        @include b;
        font-size: 21px;
    }
}
.gift-want__price-2 {
    font-size: 14px;
    color: 939393;
}

.link-favorite {
    text-transform: uppercase;
    @include b;
    font-size: 10px;
    color: #004faf;
    line-height: 1;
    i, span {
        display: inline-block;
        vertical-align: middle;
    }
    i {
        @include s(star);
        margin-right: 8px;
    }
    span {
        border-bottom: 1px solid;
    }
}

.clip {
    position: absolute;
    &:after,
    &:before {
        content: "";
        position: relative;
        z-index: 2;
        display: block;
        width: 10px;
        height: 25px;
        @include box-sizing(border-box);
        border: 2px solid #edb741;
    }
    &:after {
        border-top: 0;
        @include border-radius(0 0 5px 5px);
    }
    &:before {
        margin-bottom: -1px;  
        border-left: 0;
        border-bottom: 0;
        @include border-radius(5px 5px 0 0);
    }
    i {
        position: absolute;
        top: 3px;
        left: 1px;
        &:after,
        &:before {
            content: "";
            display: block;
            width: 10px;
            height: 25px;
            @include box-sizing(border-box);
            border: 2px solid #78706a;
            @include opacity(.5);
        }
        &:after {
            border-top: 0;
            box-shadow: 0 1px 1px rgba(0,0,0,.8);
            @include border-radius(0 0 5px 5px);
        }
        &:before {
            margin-bottom: -1px;
            border-left: 0;
            border-top: #000;
            border-bottom: 0;
            @include border-radius(5px 5px 0 0);
        }
    }
}

.gift-sent-wrap {
    // width: 100%;
    // height: 1000px;
    // overflow: auto; 
}
.gift-sent {
    margin-bottom: 26px;
    padding-top: 26px;
    @include clr;
    border-top: 1px solid #cbc29b;
    @include box-shadow(inset 0 1px 0 #fff);
    &:first-child {
        border-top: 0;
        @include box-shadow(none);
    }
}
.gift-sent__left {
    float: left;
    padding-top: 5px;
    width: 50%;
    @include box-sizing(border-box);
}
.gift-sent__right {
    float: right;
    width: 50%;
    @include box-sizing(border-box);
    .gift-want {
        width: 100%;
        margin: 0 0 16px;
        height: 178px;
        border-color: #a9a69b;
    }
    .gift-want__footer {
        padding-top: 16px;
        bottom: 16px;
        border-top: 1px solid #adadad;
        @include box-shadow(inset 0 1px 0 rgba(255,255,255,.95));
    }
}
.gift-sent__user {
    @include clr;
    margin-bottom: 17px;
    font-size: 12px;
    .user-ava {
        float: left;
        margin-right: 10px;
        border-width: 3px;
    }
    span {
        display: block;
        margin-bottom: 7px;
        color: #4c4b49;
        font-size: 17px;
        line-height: 1;
    }
}
.gift-sent__user-name {
    padding-top: 5px;
    overflow: hidden;
}
.gift-sent__text {
    font-size: 12px;
    margin-bottom: 12px;
}
.gif-sent__author {
    font-size: 12px;
    a {
        display: inline-block;
        vertical-align: middle;
        color: #4c4b49;
        text-decoration: none;
    }
    img {
        margin-right: 9px;
        @include border-radius(50%);
    }
}
.gift-sent__term {
    span {
        display: inline-block;
        margin-left: 10px;
        position: relative;
        font-size: 12px;
        &:before {
            display: none;
            content: "!";
            width: 18px;
            height: 18px;
            color: #fff;
            line-height: 18px;
            text-align: center;
            @include border-radius(50%);
            background: #ff3434;
            @include b;
        }
    }
    b {
        @include b;
        display: inline-block;
        margin-left: 5px;
    }
}
.is-denger-term {
    .gift-sent__term {
        span {
            color: #ff2525;
            &:before {
                display: inline-block;
            }
        }
    }
}

.gift-wrap {
    .gift-want {
        border-color: #a9a69b;
    }  
}

.scroller {
    height: 100%;
    overflow-y: scroll;
    /*-webkit-overflow-scrolling: touch;*/
    /* uncomment to accelerate scrolling on iOs */
}
.scroller::-webkit-scrollbar {
    width: 0;
}
.scroller__bar-wrapper {
    position: absolute;
    z-index: 3;
    top: 35px;
    bottom: 35px;
    right: 10px;
    width: 8px;
    border-radius: 5px;
    pointer-events: none;
    &:before,
    &:after {
        content: "";
        position: absolute;
        left: -1px;
        width: 10px;
        height: 10px;
        @include border-radius(50%);
        background: #797979;
        @include opacity(0.33);
    }
    &:before {
        top: -20px;
    }
    &:after {
        bottom: -20px;
    }
}
.scroller__bar {
    position: absolute;
    z-index: 1;
    width: 8px;
    border-radius: 3px;
    background: #797979;
    @include opacity(0.33);
    pointer-events: auto;
}
.scroller__bar:hover,
.scroller__bar:active {
    opacity: .8;
}
.baron .scroller__bar {
    //opacity: .6;
}
.baron_h .scroller__bar_h {
    opacity: .6;
    bottom: 30px;
}