@import "base";
.l-col-wrap {
    
}
.l-col-wrap_banner {
    .sidebar,
    .main-col {
        top: 119px;
    }  
}
.banner {
    display: block;
    height: 119px;
    overflow: hidden;
    // @include respond-to(768) {
    //     display: none;
    // }
    img {
        display: block;
        margin: 0 auto;
    }
}
.tab {
    height: 51px;
    line-height: 51px;
    border: 1px solid #adadad;
    border-left: 0;
    border-top: 0;
    background: #efebe7;
    @include clr;
    font-size: 0;
    white-space: nowrap;
    @include box-sizing(border-box);
    @include box-shadow(inset 0 0 0 1px rgba(255,255,255,.95));
    @include background-image(linear-gradient(bottom, #efebe7 0%, #f8efef 88.31%, #f8efef 100%));
    @include respond-to(640) {
        border-top: 1px solid #adadad;
        height: 52px;
    }
}
.tab__item {
    display: inline-block;
    vertical-align: top;
    margin-left: -1px;
    text-transform: uppercase;
    border: 1px solid #adadad;
    border-top: 0;
    border-bottom:0;
    @include box-shadow(inset 0 0 0 1px rgba(255,255,255,.95));
    text-shadow: 0 1px 0 rgba(255,255,255,.75);
    @include respond-to(640) {
        @include box-shadow(none);
    }
    &:hover {
        background: #f8efef;
    }
    &:active {
        background: #f8efef;
        @include box-shadow(inset 0 2px 4px 0 rgba(0,0,0,.2));
    }
    &.is-active {
        color: #fff;
        cursor: default;
        @include box-shadow(inset 0 0 10px rgba(53,53,53,.5));
        background-color: #a29e9e;
        @include background-image(linear-gradient(45deg, #b1adac 25%, transparent 25%, transparent 75%, #b1adac 75%, #b1adac), 
        linear-gradient(45deg, #b1adac 25%, transparent 25%, transparent 75%, #b1adac 75%, #b1adac));
        background-size: 2px 2px;
        background-position:0 0, 1px 1px;
        &:hover {
            @include box-shadow(inset 0 0 10px rgba(53,53,53,.5));
            background-color: #a29e9e;
            @include background-image(linear-gradient(45deg, #b1adac 25%, transparent 25%, transparent 75%, #b1adac 75%, #b1adac), 
            linear-gradient(45deg, #b1adac 25%, transparent 25%, transparent 75%, #b1adac 75%, #b1adac));
            background-size: 2px 2px;
            background-position: 0 0, 1px 1px;
        }
        a {
            color: #fff;
        }
    }
    &.is-new {
        i {
            display: block;
        }
    }
    span {
        position: relative;
    }
    i {
        display: none;
        position: absolute;
        top: -17px;
        right: -20px;
        width: 17px;
        color: #fff;
        height: 17px;
        font: bold 11px/17px Arial, sans-serif;
        text-align: center;
        line-height: 17px;
        border: 2px solid #f1ebe9;
        @include border-radius(50%);
        background: #ff3434;
        font-style: normal;
    }
    a {
        display: block;
        padding: 0 50px;
        color: #928e8d;
        height: 50px;
        font: bold 11px/50px Arial, sans-serif;
        @include respond-to(800) {
            padding: 0 20px;
        }
        @include respond-to(768) {
            font-size: 12px;
            font-weight: normal;
            text-transform: none;
        }
        @include respond-to(480) {
            padding: 0 5px;
        }
    }
}
.tab_simple {
    @include respond-to(320) {
        height: auto;
        border: 0;
    }
    .tab__item {
        @include respond-to(320) {
            float: none;
            height: auto;
            border-bottom: 1px solid #adadad;
            &:first-child {
                border-top: 1px solid #adadad;
            }
        }
    }
}
.is-fixed-tab {
    @include respond-to(640) {
        position: fixed !important;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2000;
    }
}
.tab_nav {
    @include respond-to(768) {
        height: 52px;
        position: relative;
    }
    .tab__item {
        position: relative;
        padding: 0;
        text-align: center;
        @include box-sizing(border-box); 
        a {
            display: block;
            width: 63px;
            padding: 0;
            height: 50px;
            color: #fff;
        }
        .icon {
            display: inline-block;
            vertical-align: middle;
        }
        span {
            display: none;
            margin: 0;
        }
        &:first-child {
            @include respond-to(768) {
                left: 0;
            }
            span {
                display: inline-block;
            }
        }
        &:first-child.is-active {
            background-color: #a29e9e;
            @include background-image(linear-gradient(45deg, #b1adac 25%, transparent 25%, transparent 75%, #b1adac 75%, #b1adac), 
            linear-gradient(45deg, #b1adac 25%, transparent 25%, transparent 75%, #b1adac 75%, #b1adac));
            background-size: 2px 2px;
            background-position:0 0, 1px 1px;
        }
        // @include respond-to(768) {
        //     float: left;
        //     width: 20%;
        //     margin: 50px 0 0 0;
        //     border-right: 0;
        // }
        &:first-child,
        &:last-child {
            // @include respond-to(768) {
            //     width: 50%;
            //     position: absolute;
            //     top: 0;
            //     margin: 0;
            //     @include box-shadow(none);
            //     border-bottom: 1px solid #adadad;
            // }
        }
        &:last-child {
            position: absolute;
            right: 0;
            top: 0;
            border-right: 0;
            @include respond-to(768) {
                right: -1px;
            }
        }
        &:nth-child(2) {
            @include respond-to(768) {
                border-left: 0;;
            }
        }
        &.is-active {
            a {
                width: 130px;
                @include respond-to(768) {
                    display: block;
                    width: 100%;
                }
            }
            background-color: #d68d00;
            @include background-image(linear-gradient(45deg, #ec9c00 25%, transparent 25%, transparent 75%, #ec9c00 75%, #ec9c00), 
            linear-gradient(45deg, #ec9c00 25%, transparent 25%, transparent 75%, #ec9c00 75%, #ec9c00));
            background-size: 2px 2px;
            background-position:0 0, 1px 1px;
            &:hover {
                background-color: #d68d00;
                @include background-image(linear-gradient(45deg, #ec9c00 25%, transparent 25%, transparent 75%, #ec9c00 75%, #ec9c00), 
                linear-gradient(45deg, #ec9c00 25%, transparent 25%, transparent 75%, #ec9c00 75%, #ec9c00));
                background-size: 2px 2px;
                background-position:0 0, 1px 1px;
            }
            span {
                display: inline-block;
                line-height: 1;
                margin-left: 5px;
                vertical-align: middle; 
            }
            
            @include respond-to(768) {
                padding: 0;
                width: 20%;
                //text-align: left;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            @include respond-to(480) {
                width: 30%;
            }
            // @for $i from 1 through 20 {
            //   .icon_tab#{$i} {@include s(tab#{$i}-act);}
            // }
            @each $i in $tab {
              .icon_#{$i} {@include s(#{$i}-act);}
            }  
        }
        &.is-other-active {
            background: #efece8;
            @include box-shadow(0 1px 0 #fff, inset 0 2px 0 #fff);
            @include background-image(linear-gradient(top, #efece8, #fff));
        }
    }
}
@each $i in $tab {
  .icon_#{$i} {@include s($i);} 
} 
.subtab {
    display: none;
    position: absolute;
    right: 0;
    top: 51px;
    background: #fff;
    width: 512px;
    overflow: hidden;
    z-index: 100;
    @include respond-to(768) {
        width: 368px;
    }
    @include respond-to(480) {
        width: 320px;  
    }
    .subtab__item {
        float: left;
        padding: 0 0 0 20px;
        width: 33.3%;
        @include box-sizing(border-box);
        text-align: left;
        border-bottom: 1px solid #e4e4e4;
        @include respond-to(768) {
            padding-left: 10px;
        }
        a {
            display: block;
            position: relative;
            padding-left: 30px;
            height: 36px;
            width: 100%;
            color: #353535;
            text-align: left;
            font-weight: normal;
            line-height: 36px;
            text-transform: capitalize;
            font-size: 11px;
            @include box-sizing(border-box);
            .icon {
                left: 0;
                top: 9px;
                background-color: transparent;
                border: none;
            }
            .icon_tab-s11,
            .icon_tab-s12 {
                left: 3px;
            }
        }
        // @for $i from 1 through 12 {
        //   .icon_tab-s#{$i} {@include s(tab-s#{$i});} 
        // }
        @each $i in $tab_small {
          .icon_#{$i} {@include s($i);}
        }
    }
}

.tab-cont {
    //display: none;
    //padding: 3% 3.2% 3%; 
    @include respond-to(640) {
        //display: none;
    } 
}

.tab-cont__title {
    margin-bottom: 21px;
    color: #d37c00;
    font-size: 19px;
    text-shadow: 0 1px 0 #fff;  
    
}

.gift-want-wrap {
    @include clr;
    margin-bottom: 17px;
    border-bottom: 1px solid #cdc59d;
    @include box-shadow(0 1px 0 rgba(255,255,255,.5));
    @include respond-to(960) {
        margin-right: 10px;
    }
    @include respond-to(768) {
        margin-right: 0;
    }
    .gift-want {
        
    }
}
.gift-want-cont {
    
}
.gift-want {
    float: left;
    position: relative;
    margin: 0 3.1% 2.6% 0;
    padding: 20px 0 8px;
    width: 340px;
    height: 156px;
    @include box-sizing(border-box);
    border: 1px solid #ffae00;
    @include border-radius(5px);
    background: #e6e0db;
    @include box-shadow(0 0 7px rgba(0,0,0,.39), inset 0 0 0 2px rgba(255,255,255,.75));
    @include background-image(linear-gradient(bottom, #e6e0db 0%, #fff 88.31%, #fff 100%));
    // @include respond-to(1400) {
    //     width: 30%;
    // }
    // @include respond-to(1930) {
    //     width: 21.7%;
    // }
    @include respond-to(1100) {
        margin: 0 10px 10px 0;
    }
    @include respond-to(960) {
        //width: 70%;
        float: none;
        margin: 0 auto 20px;
    }
    @include respond-to(768) {
        //width: 85%;
    }
    @include respond-to(640) {
        //width: 100%;
        float: none;
        margin: 0 auto 20px;
    }
    @include respond-to(480) {
        width: 100%;
    }
    @include respond-to(320) {
        padding-bottom: 20px;
        height: auto;
    }
    .clip {
        left: 15px;
        top: -6px;
        z-index: 2;
        @include rotate(-10);
    }
    &.is-active {
        .icon_corner {
            &:before {
                border-color: transparent #eea003 transparent transparent;
            }
        }
        
    }
    
}
.gift-want.is-favorite {
    padding: 28px 0 8px;
    @include respond-to(320) {
        padding-bottom: 20px;
    }
    &:before {
        content: "";
        position: absolute;
        top: -1px;
        left: 125px;
        @include s(favorite);
    }
}
.gift-want.is-free {
    .gift-want__price-2 {
        color: #00a82b;
    }
}
.icon_corner {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 36px;
    height: 36px;
    overflow: hidden;
    @include border-radius(3px);
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 36px 36px 0;
        border-color: transparent #d4d3cd transparent transparent;
    }
    &:after {
        content: "";
        position: absolute;
        top: 4px;
        right: 3px;
    }
    // @for $i from 1 through 19 {
    //     &.icon_badge#{$i} {
    //         &:after {
    //             @include s(badge#{$i});
    //         }
    //     }
    // }
    @each $i in $badge {
        &.icon_#{$i} {
            &:after {
                @include s($i);
            }
        }
    }
}
.icon_badge-laptop,
.icon_badge-food,
.icon_badge-man,
.icon_badge-house,
.icon_badge-baby,
.icon_badge-book,
.icon_badge-clock,
.icon_badge-car,
.icon_badge-cosmetics {
    &:after {
        right: 1px;
    }
}
.icon_badge-toys {
    &:after {
        right: 1px;
        top: 2px;
    }
}
.gift-want__descr {
    margin-left: 126px;
    height: 75px;
    overflow: hidden;
    font-size: 11px;
    padding-right: 10px;
    line-height: 1.2;
    @include respond-to(800) {
        padding-right: 20px;
    }
    @include respond-to(320) {
        margin: 0;
        padding: 0 10px;
        height: 54px;
    }
}
.gift-want__img {
    position: absolute;
    top: 6px;
    left: 10px;
    @include rotate(-10);
    @include respond-to(320) {
        position: relative;
        top: -14px;
        width: 100px;
    }
    img {
        border: 4px solid #fff;
        @include border-radius(2px);
        @include box-shadow(0 0 0 1px rgba(0,0,0,.25), 0 1px 4px rgba(0,0,0,.4));
    }
}
.gift-want__footer {
    position: absolute;
    bottom: 13px;
    left: 0;
    right: 0;
    padding: 0 3% 0 5%;
    @include clr;
    @include respond-to(320) {
        position: static;
        margin-top: 12px;
    }
    .link-favorite {
        float: right;
        margin-top: 8px;
        @include respond-to(320) {
            float: none;
            display: block;
            margin-top: 12px;
        }
    }
    .btn {
        float: right;
        @include respond-to(320) {
            display: block;
            float: none;
            margin-top: 10px;
            width: 125px;
        }
    } 
    div {
        display: none;
        margin-top: 10px;
    }
}
.gift-want__price {
    display: inline-block;
    margin-right: 4%;
    font-size: 17px;
    color: #000;
    @include respond-to(768) {
       font-size: 12px;
       margin-right: 2%;
    }
    b {
        @include b;
        font-size: 21px;
        @include respond-to(768) {
            font-size: 16px;
        }
    }
}
.gift-want__price-2 {
    font-size: 14px;
    color: 939393;
    @include respond-to(768) {
        font-size: 12px;
    }
}

.link-favorite {
    text-transform: uppercase;
    @include b;
    font-size: 10px;
    color: #004faf;
    line-height: 1;
    i, span {
        display: inline-block;
        vertical-align: middle;
    }
    i {
        @include s(star);
        margin-right: 8px;
    }
    span {
        border-bottom: 1px solid;
    }
}
.link-favorite.is-active {
    i {
        @include s(star-act);
    }
}


.gift-sent-wrap {
    @include clr;
}
.gift-sent {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 26px;
    padding: 26px 52px 0 37px;
    @include clr;
    width: 770px;
    border-top: 1px solid #cbc29b;
    @include box-sizing(border-box);
    @include box-shadow(inset 0 1px 0 #fff);
    &:first-child {
        border-top: 0;
        @include box-shadow(none);
    }
    &:nth-child(2) {
        border-top: none;
        @include box-shadow(none);
    }
    // @include respond-to(1100) {
    //     float: left;
    //     width: 50%;
    //     padding: 0 30px 0 37px;
    //     &:nth-child(2) {
    //         border-top: 1px solid transparent;
    //         @include box-shadow(none);
    //     }
    // }
    // @include respond-to(1400) {
    //     padding: 20px 30px 0 37px;
    // }
    // @include respond-to(1920) {
    //     width: 33%;
    //     &:nth-child(3) {
    //         border-top: 1px solid transparent;
    //         @include box-shadow(none);
    //     }
    // }
    @include respond-to(1024) {
        display: block;
        width: 100%;
        &:nth-child(2) {
            border-top: 1px solid #cbc29b;
            @include box-shadow(inset 0 1px 0 #fff);
        }
    }
    @include respond-to(800) {
        padding: 26px 20px 0;
        &:nth-child(2) {
            border-top: 1px solid #cbc29b;
            @include box-shadow(inset 0 1px 0 #fff);
        }
    }
    @include respond-to(480) {
        padding: 10px;
    }
}
.gift-sent__left {
    float: left;
    padding: 5px 10px 0 0;
    width: 50%;
    @include box-sizing(border-box);
    @include respond-to(1024) {
        width: 230px;
    }
    // @include respond-to(1100) {
    //     float: none;
    //     width: 100%;
    // }
    // @include respond-to(1400) {
    //     float: left;
    //     width: 50%;
    // }
    @include respond-to(960) {
        float: none;
        width: 340px;
        margin: 0 auto 20px;
    }
    @include respond-to(800) {
       // float: none;
        //margin-bottom: 20px;
       // width: 100%;
       // padding: 5px 0 0 0;
    } 
    @include respond-to(480) {
        width: 100%;
    } 
}
.gift-sent__right {
    float: right;
    width: 50%;
    @include box-sizing(border-box);
    // @include respond-to(1100) {
    //     float: none;
    //     width: 100%;
    // }
    // @include respond-to(1400) {
    //     float: left;
    //     width: 50%;
    // }
    @include respond-to(1024) {
        width: 340px;
    }
    @include respond-to(960) {
        float: none;
        margin: 0 auto;
        //width: 55%;
    }    
    @include respond-to(800) {
        //float: none;
        //margin: 0 auto 20px;
        //width: 80%;
    } 
    @include respond-to(640) {
        //width: 100%;
    }  
    @include respond-to(480) {
        width: 100%;
    }  
    .gift-want {
        width: 100%;
        margin: 0 0 16px;
        height: 178px;
        border-color: #a9a69b;
        @include respond-to(320) {
            height: auto;
        }   
    }
    .gift-want__footer {
        padding-top: 16px;
        bottom: 16px;
        border-top: 1px solid #adadad;
        @include box-shadow(inset 0 1px 0 rgba(255,255,255,.95));
        @include respond-to(320) {
            border-top: 0;
            margin-top: 0;
            @include box-shadow(none);
        }
    }
}
.gift-sent__user {
    @include clr;
    margin-bottom: 17px;
    font-size: 12px;
    .user-ava {
        float: left;
        margin-right: 10px;
        border-width: 3px;
    }
    span {
        display: block;
        margin-bottom: 7px;
        color: #4c4b49;
        font-size: 17px;
        line-height: 1;
    }
}
.gift-sent__user-name {
    padding-top: 5px;
    overflow: hidden;
}
.gift-sent__text {
    font-size: 12px;
    margin-bottom: 12px;
}
.gif-sent__author {
    font-size: 12px;
    a {
        display: inline-block;
        vertical-align: middle;
        color: #4c4b49;
        text-decoration: none;
    }
    img {
        margin-right: 9px;
        @include border-radius(50%);
    }
}
.gift-sent__term {
    @include respond-to(768) {
       text-align: center;
    }
    span {
        display: inline-block;
        margin-left: 10px;
        position: relative;
        font-size: 12px;
        &:before {
            display: none;
            content: "!";
            width: 18px;
            height: 18px;
            color: #fff;
            line-height: 18px;
            text-align: center;
            @include border-radius(50%);
            background: #ff3434;
            @include b;
        }
    }
    b {
        @include b;
        display: inline-block;
        margin-left: 5px;
    }
}
.is-denger-term {
    .gift-sent__term {
        span {
            color: #ff2525;
            &:before {
                display: inline-block;
            }
        }
    }
}
.is-inactive-term {
    .gift-want__footer {
        div {
            display: block;
            float: right;
            color: #fe4646;
            font-size: 12px;
            text-transform: uppercase;
        }
    }
}

.gift-wrap {
    @include clr;
    .gift-want {
        border-color: #a9a69b;
    }  
}

.scroller {
    height: 100%;
    overflow-y: scroll;
    /*-webkit-overflow-scrolling: touch;*/
    /* uncomment to accelerate scrolling on iOs */
    @include respond-to(640) {
        overflow: visible;
    }
}
.scroller::-webkit-scrollbar {
    width: 0;
}
.scroller__bar-wrapper {
    position: absolute;
    z-index: 3;
    top: 35px;
    bottom: 35px;
    right: 10px;
    width: 8px;
    border-radius: 5px;
    pointer-events: none;
    &:before,
    &:after {
        display: none;
        content: "";
        position: absolute;
        left: -1px;
        width: 10px;
        height: 10px;
        @include border-radius(50%);
        background: #797979;
        @include opacity(0.33);
    }
    &:before {
        top: -20px;
    }
    &:after {
        bottom: -20px;
    }
    @include respond-to(640) {
        display: none;
    }
}
.scroller__bar {
    position: absolute;
    z-index: 1;
    width: 8px;
    border-radius: 3px;
    background: #797979;
    @include opacity(0);
    pointer-events: auto;
}
.baron {
    .scroller__bar {
        @include opacity(.33);
        &:hover,
        &:active {
            opacity: .8;
        }
    }
    .scroller__bar-wrapper {
        &:before,
        &:after {
            display: block;
        }
    }
}
.baron_h {
    .scroller__bar_h {
        opacity: .6;
        bottom: 30px;
    }
}

.content-page {
    padding: 21px 0;
    color: #838182;
    background: #ede7cc url(../img/main-bg.jpg) repeat;
    .container {
        @include clr;
    }
    h1 {
        margin-bottom: 10px;
        font-size: 32px;
        font-weight: normal;
        padding: 0 5%;
    }
}
.l-col {
    width: 50%;
    float: left;
    @include box-sizing(border-box);
}
.article {
    padding: 0 5%;
    p {
        margin-bottom: 20px;
    }
    h1,h2,h3,h4,h5,h6 {
        font-weight: normal;
    }
    h1 {
        margin-bottom: 10px;
        font-size: 32px;
    }
}
.article_cols {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 2rem;
    -webkit-column-gap: 2rem;
    column-gap: 2rem;
    @include respond-to(768) {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
        -moz-column-gap: 1rem;
        -webkit-column-gap: 1rem;
        column-gap: 0;
    }
}

.page-nav {
    display: none;
    padding: 0 4%;
    margin-bottom: 7px;
    @include respond-to(768) {
        display: block;
    }
    a {
        font-size: 14px;
        color: #004faf;
        text-decoration: underline;
    }
    @include respond-to(320) {
        font-size: 11px;
    }
}

.exited {
    color: #eff6f0;
    overflow: auto;
    .logo {
        width: 100%;
        background: url(../img/logo-bg.jpg) 0 0 repeat;
    }
    .l-layout {
        position: static;
        margin-bottom: -70px;
        background: url(../img/layout-bg2.jpg) 0 49px repeat-x;
        @include background-size(35px, 100%);
    }
    .gift-want {
        float: none;
        padding-bottom: 15px;
        margin: 95px auto 0;
        width: 334px;
        height: auto;
        border: 1px solid rgba(0,0,0,.3);
        @include respond-to(480) {
            margin-top: 50px;
            width: 95%;
        }
        @include respond-to(320) {
            
        }
    }
    .gift-want__descr {
        color: #676767;
        @include respond-to(480) {
            height: 90px;
        }
        @include respond-to(320) {
            height: 65px;
        }
    }
    .gift-want__price {
        b {
            font-size: 31px;
            @include respond-to(320) {
                font-size: 17px;
            }
            @include respond-to(320) {
                font-size: 21px;
            }
        }
    }
    .gift-want__footer {
        position: static;
        @include respond-to(320) {
            margin: 0;
        }
    }
    .enter-soc,  
    .gift-want__price {
        display: inline-block;
        vertical-align: bottom;
        @include respond-to(480) {
            display: block;
            text-align: center;
        }
    }
    .enter-soc__vk {
        text-transform: uppercase;
        font-size: 13px;
        padding-right: 14px;
        line-height: 40px;
    }
    .footer {
        position: relative;
        height: 70px;
        text-align: center;
        background: none;
        border: 0;
        color: #eff6f0;
    }
    .push {
        height: 70px;
    }
    .l-container {
        padding-bottom: 200px;
        background: url(../img/letter.png) 50% 142px no-repeat;
        @include respond-to(480) {
            background: none;
        }
    }
}
.exited__user {
    text-align: center;
    padding-top: 30px;
}
.user-ava_green {
    border-color: #186939;  
    @include box-shadow(0 1px 0 rgba(255,255,255,.5));
    img {
        
    }
}
.exited__user-info {
    margin: 0 auto;
    width: 320px;
    font-size: 20px;
    @include respond-to(320) {
        font-size: 13px;
        width: 90%;
    }
    strong {
        display: block;
        @include b;
        font-size: 23px;
        @include respond-to(320) {
            font-size: 21px;
        }
    }
}

