@import "base";

.popup-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    @include opacity(.5); 
    z-index: 1000;
    @include respond-to(640) {
        display: none;
    }
}
.popup {
    position: absolute;
    color: #535353;
    top: 70px;
    left: 50%;
    z-index: 2000;
    margin-left: -282px;
    padding: 41px 0 0;
    width: 564px;
    @include box-sizing(border-box);
    border: 1px solid rgba(0,0,0,.41);
    @include border-radius(5px);
    background: #e6e0db;
    @include box-shadow(0 0 15px rgba(0,0,0,.37), inset 0 0 0 2px rgba(255,255,255,.75));
    @include background-image(linear-gradient(bottom, #e6e0db 0%, #fff 88.31%, #fff 100%));
    @include respond-to(960) {
        width: 520px;
        margin-left: -260px;
    }
    @include respond-to(640) {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0;
        @include border-radius(0);
        @include box-shadow(none);
        border: 0;
    }
    .close {
        position: absolute;
        top: 8px;
        right: 9px;
        background: #d5d5d5;
        &:hover {
            background: #b8b2b2;
        }
    }
}
.popup.is-favorite {
    &:before {
        content: "";
        position: absolute;
        left: 15px;
        top: 0;
        @include s(favorite2);
    }
}
.popup__top {
    padding: 0 5% 23px;
    border-bottom: 1px solid #c1c1c1;
    @include clr;
    @include box-shadow(0 1px 0  rgba(255,255,255,.75));
}
.popup__left {
    float: left;
    padding-right: 8%;
    width: 60%;
    @include box-sizing(border-box);
    @include respond-to(480) {
        float: none;
        width: 100%;
        padding-right: 0;
    }
}
.popup__right {
    float: right;
    width: 40%;
    @include box-sizing(border-box);
    @include respond-to(480) {
        float: none;
        width: 100%;
    }
    .btn_big {
        width: 157px;
        text-align: center;
        @include respond-to(480) {
            display: block;
            margin: 0 auto;
        }
    }
    .select {
        width: 157px;
        @include respond-to(480) {
            margin: 10px auto 0;
            width: 90%;
        }
    }
}
.brand-logo {
    float: left;
    margin-left: 27px;
    @include respond-to(480) {
        float: none;
        margin: 0;
        text-align: center;
    }
    img {
        display: block;
        @include respond-to(480) {
            display: inline-block;
        }
    }
}   

.popup__price {
    margin: 9px 0;
    font-size: 17px;
    color: #000;
    @include respond-to(480) {
        text-align: center;
    }
    strong {
        @include b;
    }
}
.popup__price.is-free {
    color: #2fa90a;
}
.popup__main {
    position: relative;
    padding: 11px 5% 20px;
    @include clr;
    height: 335px;
    overflow: hidden;
    @include box-sizing(border-box);
    @include respond-to(480) {
        padding: 15px 17px;
    }
    .container {
        @include clr;
    }
    .popup__left {
        font-size: 11px;
    }
    p {
        margin-bottom: 12px;
    }
    strong {
        color: #d60202;
    }
    .link-favorite {
        display: inline-block;
        margin-top: 6px;
    }
}
.popup__title {
    margin-bottom: 10px;
    font-size: 19px;
}

.popup__contacts {
    position: relative;
    margin: 16px 0;
    padding-left: 21px;
    &:before {
        content: "";
        position: absolute;
        top: 3px;
        left: 0;
        @include s(pin);
    }
    strong {
        color: #2c2c2d;
    }
}

.popup_middle {
    padding: 0;
    width: 544px;
    margin: 0 0 0 -272px;
    left: 50%;
    @include respond-to(640) {
        width: 100%;
        margin-left: 0;
        left: 0;
    }
    .popup__top,
    .popup__main {
        padding: 0 17px 28px 24px;
        @include respond-to(480) {
            padding: 15px 17px;
        }
    }
    .popup__main {
        padding-top: 31px;
        @include respond-to(480) {
            padding: 15px 17px;
        }
        .popup__title {
            strong {
                color: #000;
            }
        }
    }
    .popup__top {
        @include respond-to(480) {
            font-size: 0;
            .popup__left,
            .popup__right {
                float: none;
                display: inline-block;
                vertical-align: middle;
                width: 50%;
            }  
        }
    }
    .popup__left {
        float: left;
        padding-left: 1.5%;
        width: 32%;
        @include respond-to(480) {
            width: 100%;
            padding-left: 0;
            float: none;
        }
    }
    .popup__right {
        float: right;
        width: 68%;
        @include respond-to(480) {
            width: 100%;
            float: none;
        }
        .select_width {
            width: 100%;
        }
    }
    .popup__right_mod {
        padding-right: 14%;
        @include respond-to(480) {
            padding-right: 0;
        }
    }
    .user-ava {
        margin-left: -7px;
        border-width: 3px;
        @include respond-to(480) {
            float: left;
            margin-right: 20px;
        }
    }
    .user-name {
        font-size: 17px;
        margin-bottom: 28px;
        @include respond-to(480) {
            margin-bottom: 5px;
        }
    }
}
.popup__title {
    
}

.popup__img {
    position: absolute;
    left: 17px;
    top: -1px;
    @include rotate(-10);
    @include respond-to(640) {
        position: static;
        margin-top: 15px;
        @include rotate(0);
    }
    @include respond-to(480) {
        text-align: center;
        width: 75px;
        float: left;
    }
    img {
        border: 7px solid #fff;
        @include border-radius(2px);
        @include box-shadow(0 0 0 1px rgba(0,0,0,.25), 0 2px 5px rgba(0,0,0,.4));
        @include respond-to(640) {
            position: static;
            border: 0;
            @include box-shadow(none);
        }
        @include respond-to(480) {
            display: block;
            width: 100%;
            height: auto;
        }
    }
    .clip {
        position: absolute;
        top: -13px;
        left: 15px;
        @include respond-to(640) {
            display: none;
        }
    }
}
.popup__select {
    margin: 15px 0;
}
.popup__label {
    font-size: 14px;
    margin-bottom: 8px;
}
.privacy {
    margin: 26px 0;
    font-size: 12px;
}
.popup__title {
    padding: 21px 0 0;
    color: #000;
    font-size: 19px;
    span {
        display: block;
    }
    strong {
        font-weight: 700;
        font-size: 29px;
        @include respond-to(480) {
            font-size: 16px;
        }
    }
    .popup__label {
        margin-bottom: 0;
    }
    @include respond-to(480) {
        text-align: center;
        font-size: 16px;
    }
}

.code {
    font-size: 12px;
    color: #3f3f3f;
    @include respond-to(480) {
        text-align: center;
    }
    p {
        margin-bottom: 16px;
    }
}
.code__namber {
    margin: 4px 0 12px;
    font-size: 44px;
    @include respond-to(480) {
        font-size: 28px;
    }
}
.popup__event {
    @include respond-to(480) {
        margin-bottom: 20px;
    }
}